ErrorDocument 404 http://luaforge.net/404.html

Redirect 404 /plugins/
Redirect 404 /export/
Redirect 404 /themes/
Redirect 404 /images/
Redirect 404 /account/
Redirect 404 /search/
Redirect 404 /developer/
Redirect 404 /sendmessage.php
Redirect 404 /snapshots.php
Redirect 404 /docman/new.php
Redirect 404 /docman/view.php
Redirect 404 /reporting
Redirect 404 /mail
Redirect 404 /scm
Redirect 404 /apple-touch-icon.png
Redirect 404 /register
Redirect 404 /my


RewriteEngine On
RewriteBase /

RewriteCond %{ENV:REDIRECT_STATUS} 200
RewriteRule .* - [L]

RewriteCond %{HTTP_HOST} ^www.luaforge.net
RewriteRule ^(.*) http://luaforge.net/$1 [L,R=301]

RewriteCond %{HTTP_HOST} ^download.luaforge.net
RewriteRule ^(.*) http://luaforge.net/$1 [L,R=301]

RewriteCond %{HTTP_HOST} ^btd.luaforge.net
RewriteRule ^(.*) http://users.skynet.be/adrias/Lua/index.html [L,R=301]

RewriteCond %{HTTP_HOST} ^zuume.luaforge.net
RewriteRule ^(.*) http://www.zuume.net [L,R=301]

RewriteCond %{HTTP_HOST} ^lunary.luaforge.net
RewriteRule ^(.*) http://piratery.net/lunary/ [L,R=301]

RewriteCond %{HTTP_HOST} ^luse.luaforge.net
RewriteRule ^(.*) http://piratery.net/luse/ [L,R=301]

RewriteCond %{HTTP_HOST} ^luatcc.luaforge.net
RewriteRule ^(.*) http://piratery.net/luatcc/ [L,R=301]

RewriteCond %{HTTP_HOST} ^luafann.luaforge.net
RewriteRule ^(.*) http://msva.github.com/lua-fann [L,R=301]

RewriteCond %{HTTP_HOST} ^luaexpat.luaforge.net
RewriteRule ^(.*) http://matthewwild.co.uk/projects/luaexpat/ [L,R=301]

RewriteCond %{HTTP_HOST} ^luadec51.luaforge.net
RewriteRule ^(.*) https://github.com/sztupy/luadec51/wiki [L,R=301]

RewriteCond %{HTTP_HOST} ^meique.luaforge.net
RewriteRule ^(.*) http://hugopl.github.com/Meique/ [L,R=301]

RewriteCond %{HTTP_HOST} ^lua-curl.luaforge.net
RewriteRule ^(.*) http://msva.github.com/lua-curl/ [L,R=301]

RewriteCond %{HTTP_HOST} ^penlight.luaforge.net
RewriteRule ^(.*) http://stevedonovan.github.com/Penlight/$1 [L,R=301]

RewriteCond %{HTTP_HOST} ^luaedit.luaforge.net
RewriteRule ^(.*) http://luaedit.sourceforge.net/$1 [L,R=301]

RewriteCond %{HTTP_HOST} ^luaedi.luaforge.net
RewriteRule ^(.*) http://luaedit.sourceforge.net/$1 [L,R=301]

RewriteCond %{HTTP_HOST} ^luamatrix.luaforge.net
RewriteRule ^(.*) http://lua-users.org/wiki/LuaMatrix [L,R=301]

RewriteCond %{HTTP_HOST} ^luajit.luaforge.net
RewriteRule ^(.*) http://luajit.org/$1 [L,R=301]

RewriteCond %{HTTP_HOST} ^luahpdf.luaforge.net
RewriteRule ^(.*) http://luahpdf.colloquiki.com/$1 [L,R=301]

RewriteCond %{HTTP_HOST} ^lua-mode.luaforge.net
RewriteRule ^(.*) http://immerrr.github.com/lua-mode/$1 [L,R=301]

RewriteCond %{HTTP_HOST} ^jnlua.luaforge.net
RewriteRule ^(.*) http://www.naef.com/jnlua/$1 [L,R=301]

RewriteCond %{HTTP_HOST} ^lists.luaforge.net
RewriteRule ^(.*) /lists/$1 [L]

RewriteCond %{HTTP_HOST} ^docman.luaforge.net
RewriteRule ^(.*) /docman/$1 [L]

RewriteCond %{HTTP_HOST} ^www.(.*).luaforge.net
RewriteRule ^(.*) /project-pages/%1/$1 [L]

RewriteCond %{HTTP_HOST} ^(.*).luaforge.net
RewriteRule ^(.*) /project-pages/%1/$1 [L]

RewriteCond %{HTTP_HOST} ^(.*).luaforge2.net
RewriteRule ^(.*) /project-pages/%1/$1 [L]

RewriteRule ^$ http://luaforge.net/projects/ [L,R=301]

RewriteRule ^/$ http://luaforge.net/projects/ [L,R=301]

RewriteRule ^top/(.*)$ http://luaforge.net/projects/ [L,R=301]

RewriteRule ^projects/(.*)/files$ http://luaforge.net/projects/$1 [L,R=301]

RewriteRule ^themes/(.*)$ http://files.luaforge.net/luaforge-web/1px.png [L,R=301]

RewriteRule ^favicon.ico$ http://files.luaforge.net/luaforge-web/favicon.ico [L,R=301]

RewriteRule ^softwaremap/(.*)$ http://luaforge.net/tags/? [L,R=301]


